/* goggle font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}



/* shared style */
.d-flex{
    display: flex;
}
.bg-primary{
    background-color: rgba(255, 144, 14, 1);
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* dark-2 */
.text-gray{
    color: #424242;
}
/* dark-3 */
.text-light-gray{
    color: #727272;
}
/* all desc */
.description{
    font-size: 1rem;
    margin: 32px 0;
    color: #727272;
}
.section-title{
    font-weight: bold;
    font-size: 2.8rem;
}


.btn-primary{
    padding: 20px 25px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
}

main,footer{
    max-width: 1440px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}

/* navbar section start */
nav{
    justify-content: space-between;
    padding: 15px;
}
nav h2{
    font-size: 2rem;
    /* font-size: 32px; */
    font-weight: 700;
}
.nav-links{
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-item .nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.banner,.navbar{
    max-width: 1920px;
    margin: 0 auto;
}



/* navbar section end */


/* banner section start */
.banner{
    margin-top: 116px;
}
.banner-content{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.banner-title{
    font-size: 4rem;
    margin-bottom: 10px;
}

.banner-img{
    width: 100%;
    height: auto;
    margin-bottom: 45px;
}

/* banner section end */

/* our features section */
.our-feautures-wrap{
    align-items: center;
    padding: 0 31px;
    gap: 76px;
    margin-top: -45px;
}
.features-img-container{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 24px;
}
.features-img-container img{
    max-width: 342px;
    width: 100%;
}
.features-content{
    width: 50%;

}

.features-span{
    color: #FF900E;
}


/* some facts section  */
.some-fact{
   padding: 100px;
}
.some-fact-title{
    margin-left: 15px;
    width: 30%;
}
.facts-container{
    display: flex;
    
    justify-content: space-around;
}
.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 700;
    color: #727272;
}











/* responsive with media queries */
/* for mobile screen */
@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .our-feautures-wrap,
    .facts-container{
        flex-direction: column;
        gap: 15px;
    }

    .banner-content{
        width: 90%;
    }
    .banner-img{
        height: auto;
    }
    .features-img-container{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .features-content{
        width: 100%;
    }
    .features-btn-wrap{
        text-align: center;
    }
    #some-fact{
        padding: 20px;
    }
    .some-fact-title{
        width: 100%;
        margin-left: 0;
    }
    .fact{
        width: 100%;
    }
}